In [16]:
import numpy as np
import pandas as pd
import glue as gl
import sys
import seaborn as sns
%matplotlib inline

# Reading CSV

In [11]:
dataframe = pd.read_csv("../../Experimento_Peletron1608/3n163-160817-16o63mev-run01.Wfm.csv", names =['Values'])

In [13]:
dataframe.head()

     Values
0  0.003043
1  0.002845
2  0.002647
3  0.002450
4  0.002845

In [28]:
dataframe_reshape = dataframe.values.reshape(1031,1000)

In [30]:
dataframe_rs = pd.DataFrame(dataframe_reshape)

In [31]:
dataframe_rs.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.003043,0.002845,0.002647,0.002450,0.002845,0.003043,0.003043,0.003438,0.003438,0.003438,...,0.002845,0.003043,0.004031,0.003636,0.002845,0.003240,0.003438,0.002845,0.003043,0.002845
1,0.003043,0.003240,0.003636,0.004228,0.003240,0.003240,0.003438,0.003240,0.003636,0.003636,...,0.003240,0.003240,0.003240,0.003240,0.002845,0.003043,0.003636,0.003240,0.003438,0.003636
2,0.003240,0.003043,0.003438,0.003240,0.003043,0.003438,0.003636,0.003636,0.003636,0.003438,...,0.003240,0.003438,0.003240,0.003636,0.003240,0.002845,0.003043,0.003043,0.003043,0.002845
3,0.003438,0.003636,0.003636,0.003833,0.003636,0.003043,0.003438,0.003833,0.003636,0.003833,...,0.003240,0.003438,0.003636,0.003636,0.003438,0.003438,0.003043,0.002845,0.002845,0.002845
4,0.003043,0.003043,0.002845,0.003043,0.003636,0.003043,0.003240,0.003438,0.003240,0.003240,...,0.004228,0.004228,0.003833,0.003043,0.003240,0.003438,0.002845,0.002252,0.002845,0.003833

In [33]:
dataframe_rs['Label']='oxigenio'

In [36]:
dataframe_rs.describe()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
count,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,...,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000,1031.000000
mean,0.003448,0.003465,0.003462,0.003443,0.003438,0.003439,0.003443,0.003440,0.003468,0.003471,...,0.003473,0.003464,0.003456,0.003460,0.003483,0.003459,0.003435,0.003466,0.003481,0.003460
std,0.000926,0.000942,0.000929,0.000962,0.000974,0.001014,0.000999,0.000968,0.000992,0.000987,...,0.000966,0.000944,0.000926,0.000909,0.000923,0.000911,0.000909,0.000922,0.000936,0.000937
min,-0.000317,-0.001108,-0.001700,-0.002293,-0.001700,-0.001305,-0.002096,-0.001503,-0.000910,-0.000712,...,-0.000119,-0.000712,-0.000119,0.000078,-0.000515,-0.000712,-0.000515,-0.000515,-0.000712,-0.000317
25%,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,...,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043,0.003043
50%,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,...,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438,0.003438
75%,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,...,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636,0.003636
max,0.011738,0.011541,0.011541,0.012134,0.012331,0.013122,0.012924,0.012134,0.012726,0.012331,...,0.011343,0.010948,0.010355,0.009960,0.009960,0.010355,0.010355,0.009960,0.011343,0.012331

In [37]:
from sklearn.feature_selection import VarianceThreshold

In [38]:
selector=VarianceThreshold()

In [43]:
variance_selector = selector.fit_transform(dataframe_rs.iloc[:,dataframe_rs.columns != 'Label'])

In [45]:
vs = pd.DataFrame(variance_selector)